.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/photo_2024-10-22_20-33-36\ 1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px white;
    display: flex;
    align-items: center;
}

.header {
    font-size: 80px;
    color: #000;
}

.enemy-container {
    margin-bottom: 20px;
}

.enemy {
    border-radius: 50%;
}

.kyzma-button-container {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.kyzma-button {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 0 rgb(48, 48, 48);
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #000000;
    color: red;
    font-size: 40px;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
}

.kyzma-button:active {
    transform: translateY(10px);
    box-shadow: 0 0 5px 1px white;
}

.boss-hp-container {
    width: fit-content;
    background-color: #fff;
    padding: 2px 10px 2px 10px;
}

.controls-container {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b7b7b;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.controls_shop-open {
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    border: none;
    background-color: #646464;
}

.controls_shop-open:active {
    box-shadow: inset 0 0 4px whitesmoke;
    color: whitesmoke;
}

.modal-upgrade_container {
    height: 100vh;
    width: 100vw;
    z-index: 3;
    position: absolute;
    background-color: #191919db;
    top: 0;
}

.modal-upgrade {
    width: 90%;
    height: 80%;
    margin: 50px auto auto auto;
    background-color: #ee55ff;
    border-radius: 20px;
}

.fa-circle-xmark {
    margin: 15px auto 0px 15px;
    font-size: 20px;
    color: black;
}

.modal-upgrade_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aquamarine;
    font-family: kablammo;
    width: 100%;
    margin: auto;
    font-size: 50px;
    text-shadow: 0 0 3px #000000;
}

.modal-upgrade_upgrades-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.modal-upgrade_coins,
.modal-upgrade_damage,
.modal-upgrade_passive-damage {
    color: aquamarine;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.modal-upgrade_coins {
    text-decoration: none;
}

.player-rank {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.modal-upgrade_coins-number,
.modal-upgrade_damage-price,
.modal-upgrade_passive-damage-price {
    color: rgb(255, 217, 0);
    font-size: 24px;
}

.modal-upgrade_damage:active,
.modal-upgrade_passive-damage:active {
    text-decoration: none;
    color: rgb(90, 183, 152);
    .modal-upgrade_damage-price,
    .modal-upgrade_passive-damage-price {
        color: rgb(208, 177, 0);
    }
}

.display-none {
    display: none;
}